* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: blanchedalmond;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  font-family: "Balsamiq Sans", cursive;
  background-color: brown;
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0;
  font-size: 23px;
}
a:hover {
  color: none;
  text-decoration: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li:hover {
  text-shadow: 0px 3px cadetblue;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: blanchedalmond;
}

.home {
  padding-top: 165px;
  margin-bottom: 300px;
}

.photo-container {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-top: 80px;
  margin-bottom: 30px;
  object-fit: cover;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitle,
.title {
  font-family: "Balsamiq Sans", cursive;
  text-align: center;
  color: black;
  font-size: 80px;
}

.subtitle {
  font-size: 50px;
  margin-bottom: 15px;
}

.icon-instagram {
  width: 60px;
  height: 60px;
  margin-bottom: 14px;
}

.networks {
  text-align: center;
  font-size: 10px;
}

.networks a {
  font-size: 6em;
  text-decoration: none;
  color: black;
  margin-bottom: 200px;
  margin-top: 250px;
}

.networks a:hover {
  text-shadow: 0px 5px cadetblue;
}

.skills,
.networks h2 {
  font-size: 40px;
  font-family: "Balsamiq Sans", cursive;
  margin: 300px;
}
.networks h2 {
  margin-bottom: 40px;
}

.about h1 {
  font-family: "Balsamiq Sans", cursive;
  text-align: center;
  margin-bottom: 40px;
  font-size: 40px;
  color: brown;
}

.about {
  padding-top: 200px;
  padding-left: 200px;
  padding-right: 200px;
}

.about h2 {
  font-family: "Balsamiq Sans", cursive;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 300px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 30px;
}

.skills {
  margin-bottom: 3.5em;
  padding: 2em;
  height: 100vg;
}

.education h1,
.contacts h1,
.projects h1,
.skills h1 {
  font-family: "Balsamiq Sans", cursive;
  font-size: 40px;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 50px;
  color: brown;
}

@media (min-width: 560px) {
  .skills .grid {
    grid-template-columns: px 240px;
  }
}

@media (min-width: 880px) {
  .skills .grid {
    grid-template-columns: repeat(4, 200px);
    align-content: center;
    justify-content: center;
    height: calc(30vh -30vh - 48px - 8em);
  }
}

@media (min-width: 560px) {
  .about .grid {
    grid-template-columns: px 240px;
  }
}

@media (min-width: 880px) {
  .about .grid {
    grid-template-columns: repeat(4, 200px);
    align-content: center;
    justify-content: center;
    height: calc(30vh -30vh - 48px - 8em);
  }
}

.conhecimento .grid {
  display: grid;
  gap: 2em;
}
.icon-ifes {
  height: 80px;
}

.skills .grid {
  display: grid;
  gap: 2em;
}

.skills figure {
  text-align: center;
  width: 150px;
  height: 150px;
}

.projects figure {
  object-fit: cover;
  display: block;
  margin-left: 60px;
  object-fit: cover;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.education h2,
.contacts h2 {
  text-align: center;
}
.icon-ifes {
  object-fit: cover;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icon-recodme {
  object-fit: cover;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list {
  text-align: center;
}

.fa-envelope {
  font-size: 30px;
  color: #e1af2c;
}

.fa-mobile-alt {
  color: blue;
}

.contacts {
  margin: 400px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
}

.footer-container {
  font-family: "Balsamiq Sans", cursive;
  background-color: brown;
  width: 100vw;
  height: 50px;
  text-align: center;
  padding: 15px 15px;
}

.img-thumbnail-blue {
  background-color: #1e90ff;
}
