* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: blanchedalmond;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  font-family: Muli, Helvética, H, Trebuchet MS;
  background-color: brown;
  position: fixed;
  width: 100vw;
  height: 50px;
  top: 0;
  font-size: 22px;
}

a:hover {
  color: none;
  text-decoration: none;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li:hover {
  text-shadow: 0px 3px cadetblue;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: blanchedalmond;
}

.home {
  padding-top: 165px;
  height: 100vh;
}

.photo-container {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  margin-top: 80px;
  margin-bottom: 30px;
  object-fit: cover;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.subtitle,
.title {
  font-weight: bold;
  font-family: Arial, "Times New Roman", Times, serif;
  text-align: center;
  color: brown;
  font-size: 80px;
}

.subtitle {
  font-size: 50px;
  margin-bottom: 15px;
}

.icon-instagram {
  width: 60px;
  height: 60px;
  margin-bottom: 14px;
}

.networks {
  text-align: center;
  font-size: 10px;
}

.networks a {
  font-size: 6em;
  text-decoration: none;
  color: black;
  margin-bottom: 200px;
  margin-top: 250px;
}

.networks a:hover {
  text-shadow: 0px 5px cadetblue;
}

.skills,
.networks h2 {
  font-size: 35px;
  font-family: "Noto Serif", Georgia, serif;
  margin: 300px;
}
.networks h2 {
  margin-bottom: 40px;
}

.about {
  padding-top: 200px;
  height: 100vh;
}

.about h1 {
  font-family: Arial, "Times New Roman", Times, serif;
  font-size: 35px;
  color: brown;
  text-align: center;
  font-weight: bold;
}

.about h2 {
  font-family: "Noto Serif", Georgia, serif;
  margin-top: 35px;
  margin-bottom: 300px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 30px;
  text-align: justify;
}

.skills {
  height: 100vh;
  padding-top: 200px;
}

@media (min-width: 560px) {
  .skills .grid {
    grid-template-columns: px 240px;
  }
}

@media (min-width: 880px) {
  .skills .grid {
    grid-template-columns: repeat(5, 200px);
    align-content: center;
    justify-content: center;
    height: calc(30vh -30vh - 48px - 8em);
  }
}

@media (min-width: 560px) {
  .menu .grid {
    grid-template-columns: px 240px;
  }
}

@media (min-width: 880px) {
  .menu .grid {
    grid-template-columns: repeat(4, 200px);
    align-content: center;
    justify-content: center;
    height: calc(30vh -30vh - 48px - 8em);
  }
}

.icon-sql {
  width: 200px;
  height: auto;
  padding-bottom: 50px;
}

.about h1 {
  font-family: Arial, "Times New Roman", Times, serif;
  font-size: 35px;
  color: brown;
  text-align: center;
  font-weight: bold;
}

.skills h1,
.education h1,
.contacts h1,
.projects h1 {
  font-family: Arial, "Times New Roman", Times, serif;
  font-size: 35px;
  text-align: center;
  color: brown;
  font-weight: bold;
  margin-bottom: 35px;
}

.projects {
  height: 100vh;
}

.skills-group {
  padding-top: 120px;
}

.conhecimento .grid {
  display: grid;
  gap: 2em;
}

.skills .grid {
  display: grid;
  gap: 2em;
}

.skills figure {
  text-align: center;
  width: 150px;
  height: 150px;
}

.projects-group {
  padding-top: 250px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}

.education h2,
.contacts h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Noto Serif", Georgia, serif;
  font-weight: bold;
}

.education {
  margin-bottom: 100px;
  height: 100vh;
}

.education-group {
  padding-top: 200px;
}

.category {
  font-weight: bold;
}
.list-education-recodme {
  padding-left: 40px;
  text-align: justify;
}

.card-ifes {
  margin-left: 700px;
  position: static;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
}

.icon-ifes {
  object-fit: cover;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.fa-envelope {
  font-size: 30px;
  color: #e1af2c;
}

.fa-mobile-alt {
  color: blue;
}

.contacts {
  padding-top: 400px;
  height: 100vh;
}

.footer {
  display: flex;
  color: blanchedalmond;
}

.footer-container {
  font-family: "Rubik", sans-serif;
  background-color: brown;
  width: 100vw;
  height: 50px;
  text-align: center;
  margin: 0;
}
.text-footer {
  margin: 15px;
}
